.legend
    .legend-border
    .legend-content
        p
            | source : DIAZ [2020] <br />
            | dataset : RTS archives v3 (broadcast) <br />
            | cartes : http://www.mapbox.com