block space
    .frame
        .margin_left
        .frame_content
            a(id="4")
                h1(class="global_title") 
                    | 2. Les
                    b  Espaces <br />
                    | &nbsp;&nbsp;de l'enquête
                //p(class='paraph')=global_insight_intro
                include ../public/texts/space_text_intro.html
                .illustration_2
                    img(src="images/apptp-schema_space.png", alt="espaces")
                    p Illustration 2. Les entités "location" et "space" ainsi que leur relation
                .margin
            a(id='5')
                h2(class="global_sub_title")
                    | 2.1. Nombre de pays par espace (moyenne) et compte des enquêtes menées dans l'espace suisse
            include ../public/texts/tableau_espace(3).html
            .margin
            div(class="insight_bar")
                div
                    h1=country_average
                    p Nombre de pays par espace (moy)
                div
                    h1=national_count
                    p Nombre d'enquêtes menées dans l'espace suisse
                div
                    h1=international_count
                    p Nombre d'enquêtes menées dans l'espace suisse international
                div
                    h1=foreign_count
                    p Nombre d'enquête menées à l'étranger
            .margin
            include legend
            .margin
            a(id='6')
                h2(class="global_sub_title")
                    | 2.2. Graphique : classements des espaces (nationaux et internationaux) selon le nombre d'occurence dans le corpus
            include ../public/texts/histogram_space(4).html
            .margin
            .histogram
                .viz
            include legend
            .margin
            a(id='7')
                h2(class="global_sub_title")
                    | 2.3. Outil : frequence annuelle et comparative des enquêtes menées dans un espace spécifique.  
            include ../public/texts/area_space(5).html
            .margin
            .search_bar
            .location_searched
            .line_chart
            .margin
            include legend
            .margin
            a(id='8')
                h2(class="global_sub_title")
                    | 2.4. Réseau : analyse des relations entre lieux dans les reportages et à travers les reportages
            include ../public/texts/network_space(6).html
            .margin
            .graph
            include legend

        .notes
        block script 
            script(src="javascripts/space_histogram.js")
            script(src="javascripts/line_chart.js")
            script(src="javascripts/network.js")