block viz
  div(class="search_bar")
    button(class='add_place_button') ajouter
    button(class='clear_all_button') reset
    input(class="add_place_input" type="text", placeholder="choisir un lieu")
  div(class="location_searched")
  div(class="line_chart")
  //div(class="sanbox")
  //button(class="button", type="submit") Add
  ul(class="location_list")